<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>webcredentials:demoapp.lnkz.ly</string>
		<string>applinks:demoapp.lnkz.ly</string>
		<string>applinks:app.linkz.ly</string>
		<string>webcredentials:app.linkz.ly</string>
	</array>
</dict>
</plist>
